{% extends 'adminbase.html' %}
{% block content %}
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active" 
            style="background-color:#003a3a;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            height: 85vh;
            width: 100%;">
            <div class="carousel-caption">
                <h1 class="display-2"><i class="fas fa-book" aria-hidden="true"></i> Library Management</h1>
                <div class="padding">

                </div>
                <button type="button" class="btn btn-outline-light btn-lg" onclick="window.location.href = '#newbooks';">New Arrival</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = '/books';">All Books</button>
            </div>
         </div>
     </div>
 </div>
<div id="newbooks" id="team" class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">New Books</h1>
		</div>
	</div>
</div>
<span>Catagories: </span>
<button type="button" class="btn btn-success" onclick="window.location.href = '/books';">All</button>
{% for catagory in catagories%}
<button type="button" class="btn btn-primary" onclick="window.location.href = '/opencatagory/{{catagory.id}}';">{{catagory.name}}</button>
{% endfor %}
 <div class="padding"></div>
<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
        {% for book in books %}
		<div class="col-md-3" style="margin-bottom: 30px;">
			<div class="card">
				<img src="{{book.img.url}}" height="300px;" style="object-fit: cover" class="card-img-top">
				<div class="card-body">
					<a href="viewbook/{{book.id}}"><h5 class="card-title">{{book.bookname}}</h5></a>
                </div>
			</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="padding"></div>
{% endblock content %}