{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Managent</title>
    <link rel = "icon" href ="{% static 'img/hiclipart.com.png' %}"  type = "image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <style>
        body{
            background-image: url(static/img/library-book-ladder-step.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            scroll-behavior: smooth;
        }
        .btn:hover{
            opacity: 0.7;
        }
        .navbar-brand{
            font-size: 40px;
            font-family: Trebuchet MS;
        }
   </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background:transparent">
        <div  class="container-fluid">
            <a class="navbar-brand" id ="logo" href="/">
                <i class="fas fa-book"></i><span> Library</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="carousel-item active">
        <div class="carousel-caption">
            <img src="{% static 'img/hiclipart.com.png' %}" style="height : 100px; margin-top: 100px;"/>
            <h3 style="color: rgb(15, 11, 11);">Library MANAGEMENT</h3>
            <button type="button" class="btn btn-lg btn-outline-light btn-block" onclick="window.location.href = 'login.html';">Home</button>
        </div>
    </div>
</body>
</html>